@import "frappe.css";

* {
  font-family: Maple Mono NF CN;
  font-size: 17px;
  min-height: 0;
}

#waybar {
  background: transparent;
  color: @text;
  margin: 5px 5px;
}


#workspaces,
#custom-arch {
  background-color: @surface0;
  margin: 5px;
}

#custom-arch {
    margin-left: 1rem;
    margin-right: 0;
    border-radius: 0.5rem 0 0 0.5rem;
    border: 2px solid @lavender;
    border-style: solid none solid solid;
    color: #2482B5;
    font-size: 24px;
}

#workspaces {
    margin-left: 0;
    border: 2px solid @lavender;
    border-radius: 0 0.5rem 0.5rem 0;
    border-style: solid solid solid none;
}

#workspaces button {
  color: @lavender;
  border-radius: 0.5rem;
  padding: 0.4rem;
}

#workspaces button.active {
  color: @sky;
  border-radius: 0.5rem;
}

#workspaces button:hover {
  color: @sapphire;
  border-radius: 1rem;
}

#window {
  border-radius: 0.5rem;
  border: 2px solid @lavender;
  margin: 5px;
  background-color: @surface0;
  margin-left: 1rem;
}

#window {
  padding-left: 1rem;
  padding-right: 1rem;
}

window#waybar.empty #window {
    background-color: transparent;
    border: none;
}


#custom-music,
#tray,
#backlight,
#clock,
#battery,
#pulseaudio,
#custom-lock,
#custom-power {
  background-color: @surface0;
  padding: 0.5rem 1rem;
  margin: 5px 0;
}

#clock {
  color: @blue;
  border-radius: 0px 0.5rem 0.5rem 0px;
  margin-right: 1rem;
  border: 2px solid @lavender;
  border-style: solid solid solid none;
}

#battery {
  color: @green;
}

#battery.charging {
  color: @green;
}

#battery.warning:not(.charging) {
  color: @red;
}

#backlight {
  color: @yellow;
}

#backlight, #battery {
    border-radius: 0;
}

#pulseaudio {
  color: @maroon;
  border-radius: 0.5rem 0px 0px 0.5rem;
  margin-left: 1rem;
  border: 2px solid @lavender;
  border-style: solid none solid solid;
}

#custom-music {
  color: @mauve;
  border-radius: 0.5rem;
  border: 2px solid @lavender;
}

#custom-lock {
    border-radius: 0.5rem 0px 0px 0.5rem;
    color: @lavender;
    border: 2px solid @lavender;
    border-style: solid none solid solid;
}

#custom-power {
    margin-right: 1rem;
    border-radius: 0px 0.5rem 0.5rem 0px;
    color: @red;
    border: 2px solid @lavender;
    border-style: solid solid solid none;
}

#tray {
  margin-right: 1rem;
  border-radius: 0.5rem;
  border: 2px solid @lavender;
}
